@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      img {
        width: 100%;
      }

      body {
        background-image: url(Bilder/magenta-abstract-striped-textured-geometric-pattern-vector-illustration_153454-266.jpg.avif);
        background-repeat: none;
        background-size: cover;
        font-family: "Alata", sans-serif;
      }

      header {
        padding: 20px;
        background: linear-gradient(
          to right,
          rgb(249, 77, 160),
          rgb(255, 0, 115)
        );
        color: white;
        font-size: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      }

      .kortene {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 840px;
        margin: auto;
        margin-top: 30px;
        gap: 10px;
        background-color: rgb(251, 2, 122);
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      }
      .kort {
        width: 100%;
        height: 100%;
        position: relative;
      }

      h1 {
        justify-content: center;
        text-align: center;
        color: white;
        padding: 20px;
      }