@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(Bilder/felt.webp);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Alata", sans-serif;
}
img {
  width: 100%;
}

header {
  padding: 20px;
  background: linear-gradient(to right, rgb(212, 22, 22), rgb(170, 7, 7));
  color: white;
  font-size: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

footer{
  padding: 20px;
  margin-top: 30px;
  background: linear-gradient(to right, rgb(212, 22, 22), rgb(170, 7, 7));
  color: white;
  font-size: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  justify-content: center;
  text-align: center;
  padding: 40px;
  color: white;
  }

.kortene {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 840px;
  margin: 0 auto;
  height: 100vh;
}
.kort {
  width: 200px;
  height: 200px;
  border: 5px solid black;
  position: relative;
}
.kort > img {
  position: absolute;
}

.none {
  display: none;
}
